html, body, #foursquare-map {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#map-input {
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.btn-group {
	padding: 10px;
}

/*
#msg {
	margin-left: auto;
    margin-right: auto;
	width: 300px;
	padding: 10px;
}
*/
