<<<<<<< HEAD
 #map {
  height: 300px;
  width: 400px;
  border: 3px solid black;
  border-radius: 10px;
      }
      
h3 {
  font-family: Verdana;
  color: YellowGreen;
  text-align: center;
  width: 400px;
}

.description {
  width: 400px;
  height: 100%;
  padding: 10px 10px 0px 10px;
}

img {
    width: 400px;
    border: 3px solid slategrey;
    border-radius: 10px;
    margin: 20px 0px 10px 0px;     
=======
 #map {
  height: 300px;
  width: 400px;
  border: 3px solid black;
  border-radius: 10px;
      }
      
h3 {
  font-family: Verdana;
  color: YellowGreen;
  text-align: center;
  width: 400px;
}

.description {
  width: 400px;
  height: 100%;
  padding: 10px 10px 0px 10px;
}

img {
    width: 400px;
    border: 3px solid slategrey;
    border-radius: 10px;
    margin: 20px 0px 10px 0px;     
>>>>>>> 2c8e96aa4d206647b62e61be6eaa749669c6d2e1
}